@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-white" style="border-radius: 15px; padding: 20px;">

    <div class="row mb-4">
        <div class="col-12">
            <h3 class="fw-bold mt-3">
                Hello, my name is Javad Molatefi
            </h3>
            <h6 class="text-muted">
                This MVP may not be perfect, but it's the best I could do with the time I had.
            </h6>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <p class="mb-2">Click below to visit my website</p>
        <a class="btn btn-primary w-auto" href="https://javadmolatefi.ir/" target="_blank" rel="noopener noreferrer">
            Visit
        </a>
    </div>

</div>
